
*{
    box-sizing: border-box;
}

body{
    background-color: rgb(61, 54, 43);
}

#grid-container{ /*ALLE SIDENE*/
    /* inspirasjon for css for grid er hentet fra webstricks https://lms.webtricks.blog/kurs/webutvikling/css-grid/grid-container*/
    display: grid;
    grid-template-areas: "header"
                        "main"
                        "footer";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-template-rows: 0fr 3fr 0fr;
}


header{ /*ALLE SIDENE*/
  grid-area: header;
}

main{ /*ALLE SIDENE*/
    grid-area: main;
}

footer{ /*ALLE SIDENE*/
    grid-area: footer;
}


#logo{ /*ALLE SIDENE*/
    display: grid;
    text-decoration: none; 
    justify-content: center;
    font-size: calc(1.5em + 1.5vw);
    font-weight: 500;
    color: rgb(205,193,178);
    padding: 1rem;
}

.handlekurv-ikoner{ /*HANDLEKURVSIDEN*/
    display: flex;
    justify-content: right;
    position: relative;
    gap:0.5rem;
    padding: 1rem 1rem 0rem 0rem;
    color: rgb(205,193,178);
}

#arrow-left{
    display: flex;
    padding: 0rem 2rem;
    color: rgb(205,193,178);
    font-size: 1.5rem;
}

header nav div{ /*FORSIDEN OG PRODUKTSIDEN*/
    display: flex;
    justify-content: right;
    position: relative;
    gap: 0.5rem;
    padding: 1rem 1rem 0rem 0;
    color: rgb(205,193,178);
}
.handlekurv-navbar{
    display: none;
    text-decoration: none;
}

.produkt-navbar{ /*PRODUKTSIDE*/
    display: none;
    text-decoration: none;
}

#ham{ /*FORSIDEN OG PRODUKTSIDEN*/
    display: flex;
    justify-content: left;
    font-size:1.8rem;
    padding: 0rem 0rem 0rem 1rem;
    color: rgb(205,193,178);
}

header nav p{ /*PRODUKTSIDE*/
    color: rgb(205,193,178);
    text-decoration-line: none;
}

header nav label{ /*PRODUKTSIDE*/
    display: flex;
    justify-content: space-around;
}

header nav label input{ /*PRODUKTSIDE*/
    width: 320px;
    background-color: rgba(226, 219, 211, 0.775);
    border-radius: 50px;
}

.navbar{ /*FORSIDEN*/
    display: none;
    text-decoration: none;
}

.responsive{ /*FORSIDE OG PRODUKTSIDE*/
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #a89e9e;
    width:100%;
    list-style: none;
    padding: 0;
}

.responsive a{ /*FORSIDEN*/
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding:1rem;
}

h1{ /*PRODUKTSIDEN*/
    color: rgb(205,193,178);
    text-decoration-line: none;
    padding: 0rem 1rem;
    margin: 1rem 0rem 0rem;
}

.filter-knapp{ /*PRODUKTSIDE*/
    display: flex;
    justify-content: right;
    padding: 0rem 1rem 0rem 0rem;
}

header div a{ /*PRODUKTSIDE*/
    background-color: rgb(205,193,178);
    color: rgb(61, 54, 43);
    text-decoration: none;
    border-radius: 50px;
    padding: 0.2rem;
}



main{ /*ALLE SIDENE*/
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
}

.flex-container{ /*FORSIDEN*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article{ /*USIKKER*/
    flex: 1;

}

.forside-bilder{ /*FORSIDEN*/
    max-width: 100%;
    height: 80%;
    width: 100%;
}

.produkter-1{ /*PRODUKTSIDE*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}



.produktside-article{ /*PRODUKTSIDE*/
    width: 100%;
    text-align: center;
    padding: 3rem;
    background-color: rgb(205,193,178);
    margin: 2rem;
}

.produktside-bilder{ /*PRODUKTSIDE*/
    max-width: 100%;
    height: 70%;
    width: 80%;
}

.handlekurv{
    display: flex;
    flex-direction: column;
    background-color: rgb(205,193,178);
}

.handlekurv-article{
    display: flex;
    padding: 1rem;
}

.handlekurv-p{
    padding: 1rem;
}

.handlekurv-bilder{
    max-width: 100%;
    height: auto;
    width: 30%;
}


.read-btn{ /*FORSIDEN*/
    display: flex;
    color: rgb(205,193,178);
    text-decoration: none;
    justify-content: center;
    
}

main section h1{ /*FORSIDEN*/
    display: flex;
    justify-content: center;
    color:rgb(205,193,178);
    padding: 1rem 2rem 0rem;
    text-align: center;
    text-decoration: none;
}

main section article h2{
    display: flex;
    color:rgb(61, 54, 43);
    padding: 0rem 1rem 0rem;
    font-size: 16px;
    margin: 0.5rem;
}

main section article p{
    color: rgb(61, 54, 43);
    padding: 0;
    margin: 0;

}

.read-more-btn{ /*ALLE SIDENE*/
    display: flex;
    background-color:rgb(205,193,178);
    color:rgb(70, 59, 46);
    text-decoration: none;
    justify-content: center;
    padding: 2rem;
    margin: 0rem 4rem 4rem;
    border-radius:50px;
}

.some-bilder{ /*FORSIDEN*/
    max-width: 100%;
    height: 80%;
    width: 100%;
}

main div{ /*FORSIDEN*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4rem 4rem 0rem;
}

main aside{ /*HANDLEKURV*/
    background-color: rgb(205,193,178);
    padding: 0rem 0rem 1rem;
    margin: 1rem 0rem 0rem;
}

main aside h2{ /*HANDLEKURV*/
    display: flex;
    background-color: rgba(242, 238, 233, 0.500);
    color: rgb(70, 59, 46);
    justify-content: center;
    padding: 1rem;
}

table{ /* table og td css er hentet fra w3schools https://www.w3schools.com/css/css_table.asp*/
    border-collapse: collapse; 
    
}

td{
    border-bottom: 1px solid #ddd;
}


.black-btn{ /*HANDLEKURV*/
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 1rem;
    color: rgba(255, 166, 0, 0.758);
    background-color: rgba(242, 238, 233, 0.500);
    border-radius: 100px;
}

footer{ /*ALLE SIDENE*/
    display: flex;
    color:rgb(205,193,178);
    justify-content: center;
    gap: 1.5rem;
    font-size: calc(1.5em + 1.5vw);
}

.analyse-p{
    color: rgb(205,193,178);
}

h2{
    display: flex;
    justify-content: center;
    color:rgb(205,193,178);
    padding: 1rem 2rem 0rem;
    text-align: center;
}

.overskrift{
    color: rgb(205,193,178);
    justify-content: left;
}




h4{
    color: rgb(205,193,178);
}

h6{
    color: rgb(205,193,178);
}

.analyse-bilder{
    max-width: 30%;
    height: 20%;
    width: 50%;
}
.analyse-table{
    background-color: #fff;
}

.liste{
    color: rgb(205,193,178);
}

section p{
    color: rgb(205,193,178);
}

.p-resultater{
    color: rgb(205,193,178);
}


@media only screen and (min-width:600px){

    /*css for grid er hentet fra webtricks https://lms.webtricks.blog/kurs/webutvikling/css-grid/grid-container*/
        #grid-container{ /*ALLE SIDENE*/ 
            display: grid;
            grid-template-areas: "header header header"
                                "main main main"
                                "footer footer footer";
            grid-row-gap: 10px;
            grid-column-gap: 10px;
            grid-template-columns: 0fr 3fr 0fr;
            grid-template-rows: 1fr 6fr 1fr;
         }

        #ham{ /*FORSIDE OG PRODUKTSIDE*/
            display: none;
        }

        .navbar{ /*FORSIDE*/
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            padding: 1rem 1rem 1rem 0rem;
        }

        header nav ul li a{ /*FORSIDE*/
            text-decoration: none;
            color: rgb(205,193,178);
        }

        .flex-container{ /*FORSIDE*/
            padding: 0rem 4rem 4rem 4rem;
        }

        .read-btn{ /*FORSIDE*/
            font-size: 25px;
        }

        main section h3{ /*FORSIDE*/
            font-size: 30px;
        }

        .read-more-btn{ /*FORSIDE*/
            padding: 3rem;
            font-size: 40px;
        }

        .some-bilder{ /*FORSIDE*/
            max-width: 150px;
        }

        .produkt-navbar{ /*PRODUKTSIDE*/
            display: flex;
            list-style-type: none;
            justify-content: space-around;
            padding: 1rem 1rem 1rem 0rem;
            font-size: 20px;
        }

        header nav p{ /*PRODUKTSIDE*/
            padding: 1rem 1rem 0rem;
            margin: 1rem 0rem 0rem;
            font-size: 18px;
        }

        header nav label{ /*PRODUKTSIDE*/
            padding: 0rem 0rem 3rem;
        }

        header nav label input{ /*PRODUKTSIDE*/
            font-size: 25px;
            width: 500px;
        }

        h1{ /*PRODUKTSIDE*/
            text-align: center;
            font-size: 40px;
        }

        .filter-knapp{ /*PRODUKTSIDE*/
            font-size:30px;
        }

        .filter-btn{ /*PRODUKTSIDE*/
            padding: 1rem;
            margin: 0rem 0rem 1rem;
            border-radius: 50px;
        }

        main aside{
            display: grid;
        }
}